$colors: (
    'common': (
        'white': #fff,
        'black': #000000,
    ),
    'grey': (
        '1':#f2f4f9,
        '2':#203240,
    ),
    'text': (
        'body':#54595F,
    ),
    'heading': (
        '1':#051145,
    ),
    'theme': (
        '1': #1B7261,
    ),
    'border': (
        '1': #ebebeb,
        
    )
);




$white : #fff;
$black : #020626;
$theme-primary : #ff1749;
$border-primary : #F1F1F9;