@use '../../utils' as *;

/*----------------------------------------*/
/*  7.6 cta css start
/*----------------------------------------*/

.rr-instagrem {
	&-widget-gallery  {
		overflow: hidden;
		transition: .3s;
		& img {
			transition: .5s;
			transform: scale(1);
			width: 100%;
			margin: 0;
			padding: 0;

		   }
		& a {
			& span {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: 0 auto;
				text-align: center;
				transform: translate(-50%, -50%);
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-ms-transition: 0.3s;
				-o-transition: 0.3s;
				transition: 0.3s;
				background-color: var(--rr-common-white);
				color: var(--rr-theme-1);
				width: 0px;
				height: 0px;
				line-height: 0px;
				font-size: 30px;
				border-radius: 50px;
				opacity: 0;
				visibility: hidden;
				transition: .5s;
				z-index: 8;
			}
		}
		&::before {
			position: absolute;		
			top: 30px; 
			left: 30px;
			width: auto;
			height: auto;
			content: "";
			background-color: #051145;
			bottom: 30px;
			right: 30px;
			opacity: 0;
			visibility: hidden;
			transition: .5s;
			z-index: 7;
			@media #{$lg} {
				top: 20px; 
				left: 20px;
				top: 20px; 
				left: 20px;
            }
		}
		&:hover {
			&.rr-instagrem-widget-gallery::before {
				opacity: 0.6;
				visibility: visible;
			}
			&.rr-instagrem-widget-gallery a span {
				opacity: 1;
				visibility: visible;
				width: 80px;
				height: 80px;
				line-height: 83px;
			}
			&.rr-instagrem-widget-gallery img {
				transform: scale(1.2);
			}
		}
	}
}
