@use '../../utils' as *;

/*----------------------------------------*/
/*  7.6 cta css start
/*----------------------------------------*/

.rr-work {

	&-thumb {
		position: relative;
		overflow: hidden;
		transition: .3s;

		&::before {
			position: absolute;
			width: auto;
			height: auto;
			left: 30px;
			top: 30px;
			background: rgba(255, 255, 255, 0.6);
			content: "";
			bottom: 30px;
			right: 30px;
			opacity: 0;
			visibility: hidden;
			transition: .3s;
			z-index: 2;

		}

		& img {
			width: 100%;
			height: 470px;
			object-fit: cover;
			transform: scale(1);
			transition: .5s;
		}
	}

	&-item {
		margin-bottom: 30px;

		&:hover {
			& .rr-work-thumb::before {

				opacity: 1;
				visibility: visible;
			}

			& .rr-work-thumb img {
				transform: scale(1.2);
			}

			& .rr-work-content {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&-title {
		font-family: var(--rr-ff-h);
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 34px;
		text-align: center;
		color: var(--rr-heading-1);
		transition: .3s;
		@media #{$xs} {
			font-size: 19px;
			line-height: 25px;
		}
		&:hover {
			color: var(--rr-theme-1);
		}
	}

	&-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		transition: .3s;

		& span {
			font-family: var(--rr-theme-1);
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 34px;
			text-align: center;
			color: var(--rr-theme-1);
		}
	}
}
.rr-project-slider-area {
	@media #{$sm, $xs} {
		padding-top: 80px;
    }
}
.rr-project-active {
	padding-bottom: 80px;
	margin: 0 -130px;
	@media #{$sm, $xs} {
		padding-bottom: 40px;
		margin: 0;
    }
}

.rr-project-slider {
	&-title {
		font-family: var(--rr-ff-h);
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		color: var(--rr-theme-1);
		transition: .3s;
		
		&:hover {
			color: var(--rr-heading-1);
		}
		@media #{$md} {
			font-size: 18px;
		}
		@media #{$sm, $xs} {
			font-size: 20px;
			margin-bottom: 5px;
		}

	}

	&-item {
		position: relative;
		z-index: 1;
	}

	&-content {
		background: #FFFFFF;
		box-shadow: 0px 20px 40px rgba(5, 17, 69, 0.1);
		padding: 21px 25px;
		margin: 0 30px;
		margin-top: -64px;
		position: relative;

		& span {
			font-family: var(--rr-ff-p);
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			text-align: center;
			color: #54595F;
			@media #{$sm, $xs} {
				font-size: 14px;
			}
		}
	}

	&-thumb {
		& img {
			width: 100%;
			height: auto;
		}
	}
}

.rr-project-slider-bg::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 420px;
	background: #FAFBFF;
	z-index: 1;
	top: 0;
	left: 0;
}